# URL of the target application
URL=https://test.k6.io

# Configuration file for the type of test
CONFIG_FILE=smoke.json

# K6 scripts that will run against the target URL
K6_SCRIPT=test.js

# Artifact bucket where k6 scripts will be stored
ARTIFACTS_BUCKET=artifacts_bucket

# Bucket where will be stored k6 reports
K6_REPORTS_BUCKET=reports_bucket

# SNS Topic ARN to send notification to.
SNS_TOPIC=sns_topic_arn
